@font-face{font-family:'fs_albert';font-style:normal;font-weight:normal;src:url('../fonts/fs_albert-webfont.eot');src:url('../fonts/fs_albert-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/fs_albert-webfont.woff') format('woff'),
url('../fonts/fs_albert-webfont.ttf') format('truetype');}
@font-face{font-family:'fs_albert-light';font-style:normal;font-weight:normal;src:url('../fonts/fs_albert-light-webfont.eot');src:url('../fonts/fs_albert-light-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/fs_albert-light-webfont.woff') format('woff'),
url('../fonts/fs_albert-light-webfont.ttf') format('truetype');}
@font-face{font-family:'fs_albert-thin';font-style:normal;font-weight:normal;src:url('../fonts/fs_albert-thin-webfont.eot');src:url('../fonts/fs_albert-thin-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/fs_albert-thin-webfont.woff') format('woff'),
url('../fonts/fs_albert-thin-webfont.ttf') format('truetype');}
@font-face{font-family:'ErasITC-Demi';font-style:normal;font-weight:normal;src:url('../fonts/ErasITC-Demi.eot');src:url('../fonts/ErasITC-Demi.eot?#iefix') format('embedded-opentype'),
url('../fonts/ErasITC-Demi.woff') format('woff'),
url('../fonts/ErasITC-Demi.ttf') format('truetype');}
@font-face{font-family:'Corbel';font-style:normal;font-weight:normal;src:url('../fonts/corbel_0.ttf') format('truetype');}