// ------------------------------------------
//  Color Variable
// ------------------------------------------
$color-green : #00A44E;
$color-green__hover : #029146;
$color-lightgrey : #E6E7E8;
$color-lightgrey__hover: #dddddd;
$color-darkgrey:#818181;
$color-darkgrey__hover:#737373;
$color-blue:#365EBF;
$color-blue__hover:#2b55ba;
$color-black:#000;
$color-black__hover:#000;
$color-darkblue:#23527c;
$color-red:#ff0043;
$color-white:white;
$color-very-lightgreen:#E5F5EF;